@import url('https://fonts.googleapis.com/css2?family=Open + Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
  /* This will be relative because everything inside of it will be absolute */
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  /* This will add a transition to the transform that occurs in our JavaScript */
  transition: transform .5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  /* This will add a transition to the transform that occurs in our JavaScript */
  transition: transform .5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #ffffffab;
  border: none;
  color: #908a8a;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  /* This pushes the buttons over so that they start at 35% through the page, at the end of the left slide, and beginning of the right slide */
  left: 35%;
  /* This pushes the buttons down to the middle of the page */
  top: 50%;
  /* We want the buttons to always be on top */
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  /* We're using transform to move the down-button over to the left */
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  /* We're using transform to move the up-button up 100% */
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}